.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  list-style: none;
}
.display {
  margin: auto;
  width: 90%;
  text-align: left;
  border: 10px solid;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 2%;
}
.page {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
button {
  margin-bottom: 10px;
}
.disabled {
  cursor: not-allowed;
}

.active {
  border: 2px solid #000;
  font-weight: bold;
}

.previous {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break {
  padding: 10px;
}

.next {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
